* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

html, body, #root {
    height: 100vh;
    overflow: hidden;
}

